/* common */

body {
    margin: 0;
}

#container {
    padding-top: 92px;
}

.divlink {
    font-size: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}
/* header */

.header {
    height: 92px;
    background-color: #ffd900;
    position: fixed;
    width: 100%;
    z-index: 111;
}

.header>div {
    max-width: 1255px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.header>div>.left {
    float: left;
    z-index: 1;
    position: relative;
}

.header>div>.left>.logo {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_logo.png);
    width: 200px;
    height: 92px;
}

.header>div>.center {
    width: 100%;
    position: absolute;
    height: 100%;
    text-align: center;
}

.header>div>.center>.menu {
    margin-top: 46px;
}

.header>div>.center>.menu>a {
    vertical-align: bottom;
    text-decoration: none;
}

.header>div>.right {
    float: right;
    z-index: 1;
    position: relative;
}

.header>div>.right>.up {
    overflow: hidden;
}

.header>div>.right>.up>.fb {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_fb.png);
    width: 41px;
    height: 46px;
    float: right;
    margin-top: 1px;
    margin-right: 1px;
}

.header>div>.right>.up>.fb:hover {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_fb_c.png);
}

.header>div>.right>.up>.ig {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_ig.png);
    width: 43px;
    height: 46px;
    float: right;
    margin-top: 1px;
    margin-right: 2px;
}

.header>div>.right>.up>.ig:hover {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_ig_c.png);
}

#formSearch {
    float: right;
}

#btnSearch {
    width: 22px;
    height: 22px;
    border: 2px solid white;
    background-color: transparent;
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_search.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 12px;
    margin-right: 8px;
}

#edtSearch {
    border: 2px solid white;
    background-color: transparent;
    width: 101px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 119px;
}

.header>div>.right>.down>.tel {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_10.png);
    background-repeat: no-repeat;
    width: 52px;
    height: 45px;
    float: right;
}

.header>div>.right>.down>.tel>.telbox {
    display: none;
    width: 171px;
    height: 259px;
    background-color: white;
    margin-top: 45px;
    margin-left: -58px;
    position: absolute;
}

.header>div>.right>.down>.tel>.telbox>.lab {
    width: 159px;
    background-color: black;
    margin: 3px 6px;
    height: 28px;
    text-align: center;
    font-size: 14px;
    font-family: 微軟正黑體;
    line-height: 28px;
    color: white;
    font-weight: bold;
}

.header>div>.right>.down>.tel>.telbox>.box {
    height: 43px;
    border-bottom: 2px dotted #dcdcdc;
}

.header>div>.right>.down>.tel>.telbox>.box.b1>div {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    font-family: arial;
}

.header>div>.right>.down>.tel>.telbox>.box.b2 {
    height: 34px;
}

.header>div>.right>.down>.tel>.telbox>.box.b2>div {
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
    font-family: arial;
}

.header>div>.right>.down>.tel>.telbox>.box.b3 {
    height: 33px;
}

.header>div>.right>.down>.tel>.telbox>.box.b3>div {
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
    font-family: arial;
}

.header>div>.right>.down>.tel>.telbox>.btn {
    width: 159px;
    background-color: #ffd900;
    margin: 6px 6px;
    height: 28px;
}

.header>div>.right>.down>.tel>.telbox>.btn>.divlink {
    text-align: center;
    font-size: 14px;
    font-family: 微軟正黑體;
    line-height: 28px;
    color: black;
    font-weight: bold;
}

.header>div>.right>.down>.tel:hover {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_10_c.png);
}

.header>div>.right>.down>.tel:hover>.telbox {
    display: block;
}

.header>div>.right>.down>.usr {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_09.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 45px;
    float: right;
    margin-right: -9px;
}

.header>div>.right>.down>.usr>.usrbox {
    display: none;
    width: 182px;
    height: 189px;
    background-color: white;
    margin-top: 45px;
    margin-left: -65px;
    position: absolute;
}

.header>div>.right>.down>.usr>.usrbox>.lab {
    font-size: 12px;
    text-align: center;
    font-family: arial;
    padding-top: 11px;
    letter-spacing: 2px;
}

.header>div>.right>.down>.usr>.usrbox>.btn {
    width: 166px;
    background-color: #ffd900;
    margin: 4px 8px;
    height: 28px;
}

.header>div>.right>.down>.usr>.usrbox>.btn>.divlink {
    text-align: center;
    font-size: 14px;
    font-family: 微軟正黑體;
    line-height: 28px;
    color: black;
    font-weight: bold;
}

.header>div>.right>.down>.usr>.usrbox>.sp {
    font-size: 0;
    border-bottom: 2px dotted #dcdcdc;
}

.header>div>.right>.down>.usr:hover {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_09_c.png);
}

.header>div>.right>.down>.usr:hover>.usrbox {
    display: block;
}

.header>div>.right>.down>.bag {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_08.png);
    background-repeat: no-repeat;
    width: 55px;
    height: 45px;
    float: right;
    margin-right: -8px;
}

.header>div>.right>.down>.bag>span {
    width: 59px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
    font-family: arial;
    color: white;
}

.header>div>.right>.down>.bag>.bagbox {
    display: none;
    width: 425px;
    min-height: 134px;
    background-color: white;
    margin-top: 10px;
    margin-left: -327px;
    position: absolute;
}

.header>div>.right>.down>.bag>.bagbox>.tablehead {
    width: 423px;
    margin-top: 1px;
    margin-left: 1px;
}

.header>div>.right>.down>.bag>.bagbox>.tablehead>thead>tr>td {
    background-color: black;
    color: white;
    height: 24px;
    font-size: 12px;
}

.header>div>.right>.down>.bag>.bagbox>.tablehead>thead>tr>td.first {
    padding-left: 44px;
}

.header>div>.right>.down>.bag>.bagbox>.tablebody {
    margin-top: -1px;
    width: 421px;
    margin-left: 2px;
    border-bottom: 2px dotted #dcdcdc;
}

.header>div>.right>.down>.bag>.bagbox>.tablebody td {
    border-right: 1px solid #dcdcdc;
    padding: 3px 3px;
    font-size: 12px;
    font-family: arial, 微軟正黑體;
}

.header>div>.right>.down>.bag>.bagbox>.tablebody td.end {
    border-right: 0;
}

.header>div>.right>.down>.bag>.bagbox>.totalmoney {
    margin-top: 7px;
    font-size: 14px;
    margin-left: 294px;
    font-family: 微軟正黑體;
    color: red;
    font-weight: bold;
}

.header>div>.right>.down>.bag>.bagbox>.totalmoney>span {
    width: 65px;
    display: inline-block;
    text-align: center;
}

.header>div>.right>.down>.bag>.bagbox>.btn {
    width: 120px;
    background-color: #ffd900;
    margin: 11px 296px;
    height: 28px;
}

.header>div>.right>.down>.bag>.bagbox>.btn>.divlink {
    text-align: center;
    font-size: 14px;
    font-family: 微軟正黑體;
    line-height: 28px;
    color: black;
    font-weight: bold;
}

.header>div>.right>.down>.bag:hover {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_08_c.png);
}

.header>div>.right>.down>.bag:hover>span {
    visibility: hidden;
}

.header>div>.right>.down>.bag:hover>.bagbox {
    display: block;
}

.header>div>.right>.down>.fav {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_07.png);
    background-repeat: no-repeat;
    width: 53px;
    height: 45px;
    float: right;
    margin-right: -8px;
}

.header>div>.right>.down>.fav>span {
    width: 51px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
    font-family: arial;
    color: white;
}

.header>div>.right>.down>.fav>.favbox {
    display: none;
    width: 425px;
    min-height: 108px;
    background-color: white;
    margin-top: 10px;
    margin-left: -327px;
    position: absolute;
}

.header>div>.right>.down>.fav>.favbox>.tablehead {
    width: 423px;
    margin-top: 1px;
    margin-left: 1px;
}

.header>div>.right>.down>.fav>.favbox>.tablehead>thead>tr>td {
    background-color: black;
    color: white;
    height: 24px;
    font-size: 12px;
}

.header>div>.right>.down>.fav>.favbox>.tablehead>thead>tr>td.first {
    padding-left: 44px;
}

.header>div>.right>.down>.fav>.favbox>.tablebody {
    margin-top: -1px;
    width: 421px;
    margin-left: 2px;
    border-bottom: 2px dotted #dcdcdc;
}

.header>div>.right>.down>.fav>.favbox>.tablebody td {
    border-right: 1px solid #dcdcdc;
    padding: 3px 3px;
    font-size: 12px;
    font-family: arial, 微軟正黑體;
}

.header>div>.right>.down>.fav>.favbox>.tablebody td.end {
    border-right: 0;
}

.header>div>.right>.down>.fav>.favbox>.totalmoney {
    margin-top: 7px;
    font-size: 14px;
    margin-left: 294px;
    font-family: 微軟正黑體;
    color: red;
    font-weight: bold;
}

.header>div>.right>.down>.fav>.favbox>.btn {
    width: 120px;
    background-color: #ffd900;
    margin: 11px 296px;
    height: 28px;
}

.header>div>.right>.down>.fav>.favbox>.btn>.divlink {
    text-align: center;
    font-size: 14px;
    font-family: 微軟正黑體;
    line-height: 28px;
    color: black;
    font-weight: bold;
}

.header>div>.right>.down>.fav:hover {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_07_c.png);
}

.header>div>.right>.down>.fav:hover>span {
    visibility: hidden;
}

.header>div>.right>.down>.fav:hover>.favbox {
    display: block;
}
/* overlayer */

.overlayer {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.overlayer.close {
    display: block;
}
/* event */

.event {
    position: relative;
    z-index: 105;
}

.event>.open {
    position: fixed;
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_event.png);
    width: 76px;
    height: 34px;
    right: 0;
    top: 139px;
    cursor: pointer;
    transition: right .4s linear;
}

.event.close>.open {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_event_c.png);
    right: 190px;
    transition: right .4s linear;
}

.event>.inbox {
    position: fixed;
    width: 0;
    height: 100%;
    right: 0;
    top: 92px;
    background-color: white;
    transition: width .4s linear;
}

.event.close>.inbox {
    width: 190px;
    transition: width .4s linear;
}

.event>.inbox>.lab {
    background-image: url(http://www.caco.url.tw/caco/2015CACO/15_caco_001_23.png);
    width: 150px;
    height: 20px;
    margin: 54px 20px 20px 20px;
}

.event>.inbox>.box {
    width: 190px;
    height: 100%;
}

.event>.inbox>.box img {
    margin-left: 20px;
    margin-bottom: 41px;
    width: 150px;
}