.login {
    width: 880px;
    height: 619px;
    background-image: url(../images/login.jpg);
    margin: 0 auto;
    padding-left: 123px;
    padding-right: 123px;
    padding-top: 117px;
    padding-bottom: 151px;
}

.login * {
    font-family: arial, 微軟正黑體;
}

.login>.left {
    float: left;
    width: 423px;
    height: 468px;
    border-right: 1px solid gray;
}

.login>.left>.slogan {
    margin-top: 41px;
    margin-left: 82px;
}

.login>.left>.slogan>.cn {
    font-size: 23px;
    font-weight: bold;
}

.login>.left>.slogan>.en {
    font-size: 26px;
    margin-left: 13px;
}

.login>.left>.columns {
    margin-left: 85px;
    margin-top: 12px;
}

.login>.left>.columns.first {
    margin-top: 28px;
}

.login>.left>.columns>span {
    font-size: 14px;
    width: 68px;
    display: inline-block;
}

.login>.left>.columns input[type=text],
.login>.left>.columns input[type=password] {
    height: 19px;
    width: 211px;
}

.login>.left>.columns input[type=checkbox] {
    margin-left: 73px;
    margin-top: 7px;
}

.login>.left>.columns>span.remember {
	display: inline;
}

.login>.left>.columns>span.sp {
	  margin: 0 8px;
}

.login>.right {
    background-color: rgba(0, 0, 0, 0.25);
    float: left;
    width: 456px;
    height: 468px;
}
